html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: beige;
    padding: 5px;
    align-items: center;
}

#title {
    width: 100%;
    aspect-ratio: 20/1;
    text-align: center;
    font: 800 50px monospace;
    /* weight, size, family */
    color: black;
}

#calculatorInterface {
    width: 80%;
    aspect-ratio: 17/8;
    background-color: darkgoldenrod;
    margin-left: 10%;
    border-radius: 25px;
    border-color: burlywood;
    border-style: solid;
    border-width: 10px;
    padding: 5px;
}

#mainBox {
    width: 95%;
    height: 25%;
    border-width: 2px;
    border-color: sandybrown;
    border-radius: 15px;
    border-style: solid;
    background-color: peru;
    margin-left: 2.5%;
    margin-top: 0.5%;
    text-align: right;
    box-sizing: border-box;
    padding: 1%;
    font: 800 300% Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: antiquewhite;
}

.numberButton,
.operatorButton,
.specialButton {
    border-width: 2px;
    border-radius: 15px;
    border-style: solid;
    margin-left: 2.5%;
    margin-top: 0.5%;
    text-align: center;
    font: 800 300% Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.numberButton {
    width: 10%;
    aspect-ratio: 1/1;
    border-color: sandybrown;
    background-color: peru;
    color: antiquewhite;
}

.operatorButton {
    width: 10%;
    aspect-ratio: 1/1;
    border-color: darksalmon;
    background-color: coral;
    color: rgb(255, 220, 211);
}

.specialButton {
    width: 30%;
    aspect-ratio: 3/1;
    border-color: indianred;
    background-color: rgb(181, 56, 56);
    color: rgb(255, 202, 202);
}